//Formulaire
.h3form {    
    margin: 1rem;
}

//Formulaire ******
.formmain {
    
    margin: 1rem ;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;


}

label
{
	display: block;
	width: 150px;
	float: left;
}

//*********
.btnpurchase {
    display: block;
    margin:auto;
    width: 225px;
    @include btnrose;
    margin-bottom: 1rem;

}

.panier {
    border: 2px;
    width: 80%;
}

.container-panier-vide {
    padding: 0.5rem;
    font-size: 1.8rem;
 
}

.tableaupanier {
    border-collapse: collapse;
    box-shadow:0 5px 20px rgba(0, 0, 0, 0.466);
    width: auto;
    background-color: #5d70522a;
    min-width: 300px;
    width: auto;
    margin: 35px auto;
    &__head {
        background-color: #383838;;
        color: blanchedalmond;
        
    }
    &__body tr:last-of-type {
        border-bottom: 5px solid #383838;
    }
}

td, th /* Toutes les cellules des tableaux... */
{
    border: 1px solid black; 
    padding: 15px;
    text-align:center;
    vertical-align:middle;
}

