//Formulaire
.h3form {
    margin: 1rem;
}

//Formulaire ******
.formmain {
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    &__zipcode{
        
    }
}

label {
    display: block;
    width: 150px;
    float: left;
}

//*********
.btnpurchase {
    display: block;
    margin: auto;
    width: 242px;
    @include btnrose;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-style: none;
}

//balise small (validation des donnees)

small {
}
.small.__ok {
    transition: 1s;
    background-color: rgba(255, 255, 255, 0.301);
    color: rgb(71, 133, 9);
}
.small.__notok {
    transition: 1s;
    background-color: rgba(255, 255, 255, 0.301);
    color: rgb(207, 0, 41);
}

.container-panier-vide {
    padding: 0.5rem;
    font-size: 1.8rem;
}

.tableaupanier {
    border-collapse: collapse;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.466);
   
    background-color: rgba(61, 61, 61, 0.041);
    min-width: 300px;
    margin: 10px auto;
    &__head {
        background-color: #383838;
        color: blanchedalmond;
    }
    &__body {
        background-color: rgba(61, 61, 61, 0.041);

    }
    &__body tr:last-of-type {
        border-bottom: 5px solid #383838;
      
    }
}

td, th /* Toutes les cellules des tableaux... */ {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

//Btn vider panier
.clearpanier {
    padding: 0.5rem 1rem 00.5rem 1rem;
    background: rgba(61, 61, 61, 0.041);
    display: block;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.466);
    margin: 2px auto;
    font-size: 1rem;

    
    &:hover {
        background: linear-gradient(170deg, ($secondaire), ($primaire));
    }
}

.totalfinal {
    font-size: 1.2rem;
    margin: 1rem;
}

.paniervide{
    font-size: 1.4rem;
    padding: 1rem;
}

.lienretour {    
    font-style: oblique;
}


// Selection quantité
.modifierquantite {
&__btn { color: rgb(255, 255, 255);
    padding: 0px 7px 0 7px;
    background: linear-gradient(170deg, ($secondaire), ($primaire))
    
}
 }