.confirm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    &__felicitation {
        display: block;
        padding-bottom: 1rem;
    }
    &__backindex {        
        display: block;
        @include btnrose;
        width: 190px;
        margin-top: 3rem;
    }
    &__votreordre {
        font-size: 1.2rem;
    }
    &__orderid {
        font-size: 1.5rem;
        color: rgb(85, 79, 79);
        margin-top: 2rem;
        padding: .6rem;
        border : 2px solid black;
        border-radius: 12px;
        align-items: center;
        text-align: center;
    }
}