// Couleurs Principales
$primaire: #5D7052;
$secondaire: #E3CD8B;

$gris-fond: #f7ba76;
$fond-footer: #383838;
$gris-clair : #ffd4a3;

//Marge et padding left des Titres
$margin: 1.2rem;
$padleft: 1.2rem;


//MQ
$breakpoints: 599px;
