* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:link {
  text-decoration: none;
}

a:visited {
  color: black;
}

h1 {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.contenu {
  flex: 1 0 auto;
}

.headercontainer {
  background: linear-gradient(0deg, #f7ba76, #ffd4a3);
  box-shadow: 0 0 0.5rem black;
}

.header {
  padding: 1rem 2rem 1rem 2rem;
  display: flex;
  max-width: 1400px;
  margin: auto;
}
.header__logo {
  font-family: "Pacifico", cursive;
  font-weight: 700;
  font-size: 2rem;
  color: black;
  flex: 1;
}
.header__panier {
  font-size: 1.7rem;
  justify-content: center;
  display: flex;
  align-items: center;
}
.header__logo {
  color: black;
  text-decoration: none;
}
.header__logo:link {
  color: black;
  text-decoration: none;
}
.header__logo__anim {
  color: black;
  transition: 0.2s;
}
.header__logo__anim:hover {
  color: #5d7052;
  text-shadow: rgba(0, 0, 0, 0.13) 0.1em 0.1em 0.2em;
}

.fas.fa-shopping-cart {
  color: black;
  transition: 0.2s;
}
.fas.fa-shopping-cart:hover {
  color: #5d7052;
  text-shadow: rgba(0, 0, 0, 0.13) 0.1em 0.1em 0.2em;
}

.far.fa-arrow-alt-circle-left {
  font-size: 1.8rem;
  justify-content: center;
  display: flex;
  align-items: center;
  color: black;
  transition: 0.2s;
  padding-right: 0.8rem;
}
.far.fa-arrow-alt-circle-left:hover {
  color: #5d7052;
  text-shadow: rgba(0, 0, 0, 0.13) 0.1em 0.1em 0.2em;
}

.headertxt {
  display: flex;
  justify-content: center;
  background: #f7ba76;
  padding: 0rem 0.5rem 1.5rem 0.5rem;
  border-bottom: dashed 2px #55371169;
}
.headertxt .fas.fa-paw {
  font-size: 1.2rem;
  padding-right: 0.9rem;
  padding-left: 1rem;
  align-items: center;
}
.headertxt__txt {
  font-size: 1.2rem;
  font-weight: 500;
}
.headertxt__space {
  display: flex;
  background: #f7ba76;
  height: 5px;
  border-radius: 0 0 5px 5px;
}

.subtxt {
  text-align: center;
  padding: 2.5rem 2rem 2rem;
}
.subtxt__titre {
  font-size: 1.5rem;
  font-weight: 600;
}
.subtxt__soustitre {
  font-family: "Pacifico";
  font-size: 1.2rem;
  margin: 2rem 0;
}
.subtxt__btn {
  background: linear-gradient(170deg, #e3cd8b, #5d7052);
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 30px;
  padding: 0.8rem 1.5rem;
  box-shadow: 5px 5px 11px rgba(119, 119, 119, 0.726);
  position: relative;
}
.subtxt__btn:visited {
  color: white;
}
.subtxt__btn:hover::after {
  opacity: 0.15;
  transition: opacity 0.4s, box-shadow 0.4s;
}
.subtxt__btn::after {
  content: "";
  background: white;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  box-shadow: 5px 5px 11px rgba(90, 90, 90, 0.726);
}

.subheader {
  display: flex;
  max-width: 1400px;
  margin: auto;
  padding-top: 2rem;
}
@media (max-width: 1020px) {
  .subheader__banniere {
    display: none;
  }
}

.h2titres {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 2.1rem 0 0.9rem 0;
  padding-left: 1.2rem;
}

.container2 {
  background: white;
  padding: 5px;
  background: #f7ba76;
  max-width: 1400px;
  margin: auto;
  border-radius: 10px;
  margin-bottom: 2rem;
}
@media (max-width: 1400px) {
  .container2 {
    margin: 0 1rem 2rem 1rem;
  }
}

.container3 {
  background: linear-gradient(120deg, #f7ba76 70%, #ffd4a3);
  max-width: 1400px;
  border: dashed 2px #55371169;
  border-radius: 10px;
  width: 100%;
}

.articles {
  max-width: 1400px;
  margin: auto;
  padding-bottom: 2rem;
  background-color: #55371100;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
}
@media (min-width: 700px) {
  .articles {
    grid-template-columns: repeat(3, 1fr);
  }
}

.article {
  position: relative;
  background-color: #ffd4a3;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.274);
  border-radius: 12px 12px 12px 12px;
  margin: 0 1.2rem 0 1.2rem;
  transition: 0.2s;
}
.article:hover {
  transform: scale(1.015);
}
.article:link {
  color: black;
}
.article:visited {
  color: black;
}
.article__image {
  width: 100%;
  height: 240px;
  object-fit: cover;
  border-radius: 12px 12px 0px 0px;
}
.article__footer {
  display: flex;
  align-items: center;
}
.article__txt {
  width: 100%;
}
.article__titre {
  font-size: 1.1rem;
  font-weight: 700;
  padding: 0.6rem 0 0.2rem 0.7rem;
}
.article__soustitre {
  display: block;
  padding: 0rem 0 0.8rem 0.7rem;
}
.article__coeursvg {
  stroke: black;
  stroke-width: 20;
  fill: transparent;
}
.article__coeur > svg {
  height: 25px;
  width: 25px;
}
.article__coeur:hover .article__coeursvg {
  opacity: 0;
  transition: 0.6s;
}
.article__coeur:hover .article__coeur__rempli {
  opacity: 1;
  transition: 0.6s;
}
.article__coeur {
  position: relative;
  padding-right: 1rem;
}
.article__coeur__rempli {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 25px;
  height: 25px;
}

.footer {
  background-color: #383838;
  padding-left: 1.5rem;
  color: white;
  font-size: 1rem;
  flex-shrink: 0;
  margin-top: 2.5rem;
}
.footer ol {
  list-style: none;
}
@media (min-width: 1000px) {
  .footer {
    padding: 0 5rem 0 5rem;
  }
}
.footer__logo {
  font-family: "Pacifico", cursive;
  font-weight: 100;
  font-size: 1rem;
  color: white;
  padding: 0.8rem 0 0.8rem 0;
}
@media (min-width: 1000px) {
  .footer__logo {
    width: 90px;
    margin: auto;
    padding-bottom: 1.5rem;
  }
}
.footer__item {
  padding-bottom: 0.5rem;
}
.footer__txt:link {
  color: white;
}
@media (min-width: 1000px) {
  .footer__liste {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 1.5rem;
    align-items: center;
  }
}
.footer__social {
  font-size: 1.8rem;
  padding-bottom: 0.8rem;
}

.espaceblanc {
  height: 5rem;
}

.articleproduit {
  display: flex;
}
@media (max-width: 1000px) {
  .articleproduit {
    flex-direction: column;
  }
}

.card__divimg {
  margin: 5px;
}
.card__divimg__item {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 12px 0px 0px 0px;
}
@media (max-width: 1000px) {
  .card__divimg__item {
    border-radius: 12px 12px 0px 0px;
  }
}

.card__d {
  padding-left: 1rem;
  padding-right: 1rem;
  max-height: 800px;
}
.card__d__name {
  display: block;
  padding-top: 1rem;
}
.card__d__descr {
  font-size: 1.1rem;
  padding-top: 2rem;
  overflow: hidden;
}
.card__d__price {
  padding-top: 2rem;
  font-size: 1.2rem;
  font-weight: lighter;
}
.card__d__add {
  display: block;
  margin: auto;
  width: 190px;
  background: linear-gradient(170deg, #e3cd8b, #5d7052);
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 30px;
  padding: 0.8rem 1.5rem;
  box-shadow: 5px 5px 11px rgba(119, 119, 119, 0.726);
  position: relative;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-style: none;
}
.card__d__add:visited {
  color: white;
}
.card__d__add:hover::after {
  opacity: 0.15;
  transition: opacity 0.4s, box-shadow 0.4s;
}
.card__d__add::after {
  content: "";
  background: white;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  box-shadow: 5px 5px 11px rgba(90, 90, 90, 0.726);
}

.flexgrow {
  flex-grow: 1;
}

.selectcolor {
  display: flex;
  padding-top: 3rem;
}

.smallajout {
  display: block;
  background-color: rgba(100, 185, 114, 0.842);
  font-size: 1.2rem;
  margin: 15px auto;
  padding: 0.5rem 0 0.5rem 0;
  text-align: center;
  opacity: 1;
  border-radius: 6px;
  width: 70%;
  animation: monanimnotif 6.1s ease-in-out;
}
@keyframes monanimnotif {
  0% {
    transform: translateY(0.8rem);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  30% {
    transform: translateY(0px);
  }
  88% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.confirm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.confirm__felicitation {
  font-size: 1.8rem;
  display: block;
  padding-bottom: 1rem;
}
.confirm__backindex {
  display: block;
  background: linear-gradient(170deg, #e3cd8b, #5d7052);
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 30px;
  padding: 0.8rem 1.5rem;
  box-shadow: 5px 5px 11px rgba(119, 119, 119, 0.726);
  position: relative;
  width: 195px;
  margin-top: 3rem;
}
.confirm__backindex:visited {
  color: white;
}
.confirm__backindex:hover::after {
  opacity: 0.15;
  transition: opacity 0.4s, box-shadow 0.4s;
}
.confirm__backindex::after {
  content: "";
  background: white;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  box-shadow: 5px 5px 11px rgba(90, 90, 90, 0.726);
}
.confirm__votreordre {
  font-size: 1.2rem;
}
.confirm__orderid {
  font-size: 1.5rem;
  color: #554f4f;
  margin-top: 2rem;
  padding: 0.6rem;
  border: 2px solid black;
  border-radius: 12px;
  align-items: center;
  text-align: center;
}

.h3form {
  margin: 1rem;
}

.gigacontainer {
  max-width: 1400px;
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1300px) {
  .gigacontainer {
    flex-direction: row;
  }
}
@media (max-width: 430px) {
  .gigacontainer {
    padding: 0;
  }
}

.container5 {
  background: white;
  padding: 5px;
  background: #f7ba76;
  margin: 0 1rem 0 1rem;
  border-radius: 10px;
  margin-bottom: 2rem;
}
@media (min-width: 1300px) {
  .container5 {
    display: flex;
    flex-grow: 9;
  }
}
@media (max-width: 430px) {
  .container5 {
    margin-left: 0;
    margin-right: 0;
  }
}

.container4 {
  background: white;
  margin: 0 1rem 0 1rem;
  padding: 5px;
  background: #f7ba76;
  flex-grow: 4;
  border-radius: 10px;
  margin-bottom: 2rem;
}
@media (max-width: 430px) {
  .container4 {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 1300px) {
  .container4 {
    max-width: 400px;
  }
}

img {
  max-width: 100%;
  display: block;
}

.card-form {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 425px;
  border-radius: 10px;
  box-shadow: 0 10px 20px 0 rgba(153, 153, 153, 0.25);
  padding: 0.75rem;
  background: #ffd4a3;
  border: dashed 2px #55371169;
  border-radius: 10px;
}

.card-image {
  border-radius: 8px;
  overflow: hidden;
  padding-bottom: 65%;
  background-image: url("/public/images/nournours/form_img.jpeg");
  background-repeat: no-repeat;
  background-size: 165%;
  background-position: 0 5%;
  position: relative;
}

.card-heading {
  position: absolute;
  left: 10%;
  top: 15%;
  right: 10%;
  font-size: 1.75rem;
  font-weight: 700;
  color: #85236f;
  line-height: 1.222;
}
.card-heading small {
  display: block;
  font-size: 0.75em;
  font-weight: 400;
  margin-top: 0.25em;
}

.formmain {
  padding: 2rem 1rem 0;
}

.input {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  padding-top: 1.5rem;
  margin-top: 1.5rem;
}

.input-label {
  color: #32383b;
  position: absolute;
  top: 0.5rem;
  transition: 0.25s ease;
}

.input-field {
  border: 0;
  z-index: 1;
  background-color: transparent;
  border-bottom: 2px solid #6b6b6b;
  font: inherit;
  font-size: 1.125rem;
  padding: 0.25rem 0;
}
.input-field:focus, .input-field:valid {
  outline: 0;
  border-bottom-color: #5d7052;
}
.input-field:focus + .input-label, .input-field:valid + .input-label {
  color: #5d7052;
  transform: translateY(-0.5rem);
}

.action {
  margin-top: 2rem;
}

.action-button {
  background: linear-gradient(170deg, #e3cd8b, #5d7052);
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 30px;
  padding: 0.8rem 1.5rem;
  box-shadow: 5px 5px 11px rgba(119, 119, 119, 0.726);
  position: relative;
  cursor: pointer;
  font: inherit;
  font-size: 1.25rem;
  padding: 1em;
  margin: 1.2rem 0 0.3rem 0;
  width: 100%;
  font-weight: 500;
  background: #85236f;
  border-radius: 6px;
  color: #fff;
  border: 0;
}
.action-button:visited {
  color: white;
}
.action-button:hover::after {
  opacity: 0.15;
  transition: opacity 0.4s, box-shadow 0.4s;
}
.action-button::after {
  content: "";
  background: white;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  box-shadow: 5px 5px 11px rgba(90, 90, 90, 0.726);
}
.action-button:hover {
  transition: 1s;
  background: #ad4597;
  transform: scale(1.02);
}

#adress {
  resize: none;
}

.container-panier-vide {
  padding: 0.5rem;
  font-size: 1.8rem;
}

.tableaupanier {
  font-size: 1rem;
  border-collapse: collapse;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.466);
  min-width: 300px;
  margin: 10px auto;
}
.tableaupanier__head {
  background-color: #383838;
  color: blanchedalmond;
}
.tableaupanier__body {
  background-color: rgba(61, 61, 61, 0.041);
}

td {
  background: #ffd4a3;
}

td, th {
  padding: 3px;
  text-align: center;
  vertical-align: middle;
}
@media (min-width: 850px) {
  td, th {
    padding: 10px 30px 10px 30px;
    font-size: 1.2rem;
  }
}
@media (min-width: 580px) and (max-width: 849px) {
  td, th {
    padding: 15px;
    font-size: 1rem;
  }
}

.qtyitem {
  font-size: 1rem;
}

.clearpanier {
  padding: 0.5rem 1rem 0.5rem 1rem;
  display: block;
  margin: 2px auto;
  cursor: pointer;
  background: linear-gradient(170deg, #e3cd8b, #5d7052);
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 30px;
  padding: 0.8rem 1.5rem;
  box-shadow: 5px 5px 11px rgba(119, 119, 119, 0.726);
  position: relative;
  border: 0px;
}
.clearpanier:visited {
  color: white;
}
.clearpanier:hover::after {
  opacity: 0.15;
  transition: opacity 0.4s, box-shadow 0.4s;
}
.clearpanier::after {
  content: "";
  background: white;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  box-shadow: 5px 5px 11px rgba(90, 90, 90, 0.726);
}

.totalfinal {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  font-size: 1.5rem;
  margin: 1rem;
}

.paniervide {
  font-size: 1.4rem;
  padding: 1rem;
}

.lienretour {
  font-style: oblique;
}

.modifierquantite__btn {
  color: white;
  padding: 0px 7px 0 7px;
  background: linear-gradient(170deg, #e3cd8b, #5d7052);
}

.far.fa-trash-alt {
  background: linear-gradient(170deg, #e3cd8b, #5d7052);
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 5px;
  padding: 0.8rem 1.5rem;
  box-shadow: 5px 5px 11px rgba(119, 119, 119, 0.726);
  position: relative;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem 0.9rem;
}
.far.fa-trash-alt:visited {
  color: white;
}
.far.fa-trash-alt:hover::after {
  opacity: 0.15;
  transition: opacity 0.4s, box-shadow 0.4s;
}
.far.fa-trash-alt::after {
  content: "";
  background: white;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 5px 5px 11px rgba(90, 90, 90, 0.726);
}
.far.fa-trash-alt:hover {
  content: "hello";
  color: #f13838;
  transition-duration: 0.4s;
}

/*# sourceMappingURL=index.css.map */
